/*Carousel and Emoji*/

.carousel-caption {
    text-shadow: 2px 1px black;
}

.mx-flag::before {
    content: "\01F1F2 \01F1FD";
}

.heart::before {
    content: "\2764";
}

.hover-opacity {
    opacity: 0;
    transition: 0.3s;
}

.hover-opacity:hover {
    opacity: 1;
}

/*Loading Spinner*/

.lds-ripple {
    display: inline-block;
    position: relative;
    /*width: 80px;
    height: 80px;*/
    width: 200px;
    height: 200px;
}

.lds-ripple .circle {
    position: absolute;
    /*border: 4px solid #cef;*/
    border: 8px solid #cef;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple .circle:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        /*top: 36px;
        left: 36px;*/
        top: 90px;
        left: 90px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        /*width: 72px;
        height: 72px;*/
        width: 180px;
        height: 180px;
        opacity: 0;
    }
}

.spinner-caption {
    position: absolute;
    bottom: -5%;
    left: 22.5%;
}

/*Input File*/

.hide-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide-input input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}