html, body {
    top: 0;
    left: 0;
    margin: 0;
    overflow-y: hidden !important;
}

nav {
    position: relative !important;
    z-index: 99 !important;
}

.navbar-menu.is-active{
    width: 100% !important;
}

.is-floating {
    position: absolute;
}

    .is-floating.message {
        width: 100%;
    }

.is-none {
    display: none;
}

#main {
    position: relative;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 94.5vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#header > section {
    background-image: url(https://cdn.pixabay.com/photo/2017/04/25/22/22/anatomical-2261006_1280.jpg);
    background-size: cover;
}

    #header > section p {
        text-shadow: 2px 2px 8px black;
    }

#cards {
    padding: 3rem;
}

#sectionA {
    /* background-color: cadetblue; */
    background-color: var(--covyxMidnightBlue);
    color: #fff;
}

.column.has-image {
    background-image: url(https://cdn.pixabay.com/photo/2014/12/14/21/23/x-ray-image-568241_960_720.jpg);
    background-size: cover;
}

    .column.has-image img {
        height: 100%;
        opacity: 0 !important;
    }

#sectionA div > .has-text-centered, #sectionB div > .has-text-centered {
    padding: 3rem !important;
}

#sectionA > .columns, #sectionB > .columns {
    margin-bottom: 0 !important;
}

#sectionC {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* background-color: antiquewhite; */
    background-color: var(--covyxBabyBlue);
}

/* Results */
#resultBox {
    margin: 4rem;
    height: 80%;
    /* background-color: lightcoral; */
}

#heatmap {
    position: absolute;
    z-index: 8;
}

/* Spinner */
#spin {
    zoom: 150%;
}

.lds-default {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-default div {
        position: absolute;
        width: 6px;
        height: 6px;
        background: #488EFF;
        border-radius: 50%;
        animation: lds-default 1.2s linear infinite;
    }

        .lds-default div:nth-child(1) {
            animation-delay: 0s;
            top: 37px;
            left: 66px;
        }

        .lds-default div:nth-child(2) {
            animation-delay: -0.1s;
            top: 22px;
            left: 62px;
        }

        .lds-default div:nth-child(3) {
            animation-delay: -0.2s;
            top: 11px;
            left: 52px;
        }

        .lds-default div:nth-child(4) {
            animation-delay: -0.3s;
            top: 7px;
            left: 37px;
        }

        .lds-default div:nth-child(5) {
            animation-delay: -0.4s;
            top: 11px;
            left: 22px;
        }

        .lds-default div:nth-child(6) {
            animation-delay: -0.5s;
            top: 22px;
            left: 11px;
        }

        .lds-default div:nth-child(7) {
            animation-delay: -0.6s;
            top: 37px;
            left: 7px;
        }

        .lds-default div:nth-child(8) {
            animation-delay: -0.7s;
            top: 52px;
            left: 11px;
        }

        .lds-default div:nth-child(9) {
            animation-delay: -0.8s;
            top: 62px;
            left: 22px;
        }

        .lds-default div:nth-child(10) {
            animation-delay: -0.9s;
            top: 66px;
            left: 37px;
        }

        .lds-default div:nth-child(11) {
            animation-delay: -1s;
            top: 62px;
            left: 52px;
        }

        .lds-default div:nth-child(12) {
            animation-delay: -1.1s;
            top: 52px;
            left: 62px;
        }

@keyframes lds-default {
    0%, 20%, 80%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}
/* End Spinner */